<!DOCTYPE html>
<html>
<head>
  <title>Shot Me Down - Login</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Shot Me Down</h1>
  <form action="/login" method="post">
    <label>Username: <input type="text" name="username"></label>
    <button type="submit">Login</button>
  </form>
</body>
</html>
