<!DOCTYPE html>
<html>
<head>
  <title>Shot Stats</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Stats</h1>
  <p>Total shots: <%= count %></p>
  <p>Days since first shot: <%= days %></p>
  <p>Average shots per day: <%= avg %></p>
  <a href="/shots">Back</a>
</body>
</html>
